body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .countdown {
    display: flex;
    justify-content: center;
  }
  
  .countdown div {
    margin: 0;
    font-size: 36px;
  }
  
  .countdown span {
    display: block;
    font-size: 18px;
    color: #ffffff;
  }

  div > span {
    margin: 0 10px;
    padding: 10px;
    box-shadow: 10px 20px 30px rgba(187, 0, 0, 0.733);
    background-color: rgba(255, 0, 0, 0.733);
  }

  form {
    max-width: 400px;
    margin: 0 auto;
  }
  
  label, input, textarea {
    display: block;
    margin: 10px 0;
  }
  
  button {
    background-color: #0084ff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #005bb6;
  }
  
  #whatsappLink {
    margin-top: 20px;
    font-weight: bold;
  }

  
  
  
  
  